/* the 100vh and 100vw set the size of the body to fill the viewport (screen) */
body {
  height: 100vh;
  width: 100vw;
  display: block;
  margin: 0;
  overflow: hidden;
}
/* build your layout */
.top-row {
  height: 60%;
  width: 100%;
}
.row1 {
  height: 15%;
  width: 100%;
}
.row2 {
  height: 85%;
  width: 100%;
  display: flex;
}
.box {
  height: 50%;
  width: 100%;
}
.box2 {
  height: 100%;
  width: 45%;
}
.box3 {
  height: 100%;
  width: 55%;
  display: block;
}
.rectangle {
  height: 30%;
  width: 100%;
}
.rectangle2 {
  height: 20%;
  width: 100%;
}
.column {
  height: 100%;
  width: calc(100% / 3);
  display: block;
}
.bottom-row {
  height: 40%;
  width: 100%;
}
.square {
  height: 40%;
  width: 100%;
}
.square2 {
  height: 80%;
  width: 100%;
}

/* this will make ALL <img> elements at most 100% of their PARENT! */
img {
  max-height: 100%;
  max-width: 100%;
  cursor: url("tie.png"), auto;
}
/* this class goes on the PARENT div of the image! */
.center-content {
  justify-content: center;
  align-items: center;
  display: flex;
}
.translucent {
  opacity: 0.5;
}
.transparent {
  opacity: 0.35;
}
.picclick {
  filter: brightness(100%);
  max-height: 80%;
  max-width: 80%;
}
.picclick:hover {
  cursor: pointer;
  filter: brightness(100%) drop-shadow(2px 8px 3px);
  transform: scale(1.04);
}
.picclick:active {
  filter: drop-shadow(0px 0px 3px);
  transform: scale(0.98);
}
.returnclick {
  filter: brightness(100%);
  max-height: 100%;
  max-width: 100%;
}
/* changes to the style when the user HOVERS */
.returnclick:hover {
  cursor: pointer;
  filter: brightness(100%);
  transform: scale(1.04);
}
.returnclick:active {
  transform: scale(0.98);
}

/* colors to see divs */
.purple {
  background-color: #39333eff;
}
.light-grey {
  background-color: #d9d5e0ff;
}
.grey {
  background-color: #b6b2bfff;
}

/* enhance the UX */
/*
    img:hover {
      cursor: pointer;
    }
    img:active {
      transform: scale(0.95);
    }
    */
@media only screen and (max-width: 600px) {
  .row1 {
    height: 10%;
  }
  .row2 {
    height: 90%;
    display: block;
  }
  .box2 {
    height: 45%;
    width: 100%;
  }
  .box3 {
    height: 55%;
    width: 100%;
  }
}
@media only screen and (max-width: 400px) {
  .row1 {
    height: 5%;
  }
  .row2 {
    height: 95%;
  }
}
