/* the 100vh and 100vw set the size of the body to fill the viewport (screen) */
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  margin: 0;
  overflow: hidden;
}
/* build your layout */
.top-row {
  height: 60%;
  width: 100%;
}
.box {
  height: 50%;
  width: 100%;
}
.mediumbox {
  height: 80%;
  width: 100%;
}
.smallbox {
  height: 20%;
  width: 100%;
}
.rectangle {
  height: 30%;
  width: 100%;
}
.column {
  height: 100%;
  width: calc(100% / 3);
  display: block;
}
.bottom-row {
  height: 40%;
  width: 100%;
}
.square {
  height: 40%;
  width: 100%;
}

/* this will make ALL <img> elements at most 100% of their PARENT! */
img {
  max-height: 100%;
  max-width: 100%;
}
/* this class goes on the PARENT div of the image! */
.center-content {
  justify-content: center;
  align-items: center;
  display: flex;
}
.translucent {
  opacity: 0.5;
}
.transparent {
  opacity: 0.35;
}
.planetclick {
  filter: brightness(85%) drop-shadow(2px 8px 3px);
}
/* changes to the style when the user HOVERS */
.planetclick:hover {
  cursor: url("../tie.png"), auto;
  filter: brightness(100%) drop-shadow(2px 8px 3px);
  transform: scale(1.04);
}
.planetclick:active {
  filter: drop-shadow(0px 0px 3px);
  transform: scale(0.98);
}
.arrowclick {
  filter: brightness(75%) drop-shadow(2px 8px 3px);
}
/* changes to the style when the user HOVERS */
.arrowclick:hover {
  cursor: url("../tie.png"), auto;
  filter: brightness(100%) drop-shadow(2px 8px 3px);
  transform: scale(1.08);
}
.arrowclick:active {
  filter: drop-shadow(0px 0px 3px);
  transform: scale(0.98);
}

/* colors to see divs */
.purple {
  background-color: #523d64;
}
.green {
  background-color: #85e21f;
}
.orange {
  background-color: #da6339;
}
.gold {
  background-color: #d3a047;
}
.yellow {
  background-color: #ffeca7;
}
.black {
  background-color: #000000;
}
.slate {
  background-color: #1e171f;
}
.dark-grey {
  background-color: #3a3b3c;
}
.light-grey {
  background-color: #d3d3d3;
}

/* enhance the UX */
/*
  img:hover {
    cursor: pointer;
  }
  img:active {
    transform: scale(0.95);
  }
  */
@media only screen and (max-width: 600px) {
  body {
    display: block;
  }
  .column {
    height: calc(100% / 3);
    width: 100%;
    display: flex;
  }
  .box {
    height: 100%;
    width: 50%;
  }
  .square {
    height: 100%;
    width: 40%;
  }
  .rectangle {
    height: 100%;
    width: 30%;
  }
}
@media only screen and (max-width: 400px) {
  .column {
    height: calc(100% / 3);
    width: 100%;
    display: block;
  }
  .box {
    height: 50%;
    width: 100%;
  }
  .square {
    height: 40%;
    width: 100%;
  }
  .rectangle {
    height: 30%;
    width: 100%;
  }
}
